
<a style="margin-bottom: 20px;" class="btn btn-primary btn-large" href="/products/new">Create New Product</a>

<table class="table table-striped products">
  <thead>
    <tr>
      <th class="product_name<%= @sort[:dir].upcase == "ASC" ? ' dropup' : '' %><%= @sort[:orderby].upcase == "NAME" ? ' current' : '' %>">
        <a class="nodecoration full" href="<%= @sort[:orderby].upcase == "NAME" ? (@sort[:dir].upcase == "ASC" ? '/products/sort/name/desc' : '/products/sort/name/asc') : '/products/sort/name/asc' %>">
          Name<%= @sort[:orderby].upcase == "NAME" ? ' <span class="caret sort-caret light"></span>' : '' %>
        </a>
      </th>
      <th class="price<%= @sort[:dir].upcase == "ASC" ? ' dropup' : '' %><%= @sort[:orderby].upcase == "PRICE" ? ' current' : '' %>">
        <a class="nodecoration full" href="<%= @sort[:orderby].upcase == "PRICE" ? (@sort[:dir].upcase == "ASC" ? '/products/sort/price/desc' : '/products/sort/price/asc') : '/products/sort/price/asc' %>">
          Price<%= @sort[:orderby].upcase == "PRICE" ? ' <span class="caret sort-caret light"></span>' : '' %>
        </a>
      </th>
      <th class="on_sale<%= @sort[:dir].upcase == "ASC" ? ' dropup' : '' %><%= @sort[:orderby].upcase == "ON_SALE" ? ' current' : '' %>">
        <a class="nodecoration full" href="<%= @sort[:orderby].upcase == "ON_SALE" ? (@sort[:dir].upcase == "ASC" ? '/products/sort/on_sale/desc' : '/products/sort/on_sale/asc') : '/products/sort/on_sale/asc' %>">
          On Sale?<%= @sort[:orderby].upcase == "ON_SALE" ? ' <span class="caret sort-caret light"></span>' : '' %>
        </a>
      </th>
      <th>
        &nbsp;
      </th>
<!--       <th class="product_name">Name</th>
      <th class="price">Price</th>
      <th class="on_sale">On Sale?</th> -->
    </tr>
  </thead>
  <tbody>
    <% @rs.each do |row| %>
      <tr>
        <td class="product_name"><%= row['name'] %></td>
        <td class="price"><%= row['price'].to_currency  %></td>
        <td class="on_sale"><%= if row['on_sale'] == 't' then "<img src='/images/sale.png' alt='On Sale!'>" else "" end %></td>
        <td class="view_edit_delete">
          <a class="btn btn-mini" href="/products/<%= row['id'] %>">View Details</a> 
          <a class="btn btn-mini btn-primary" href="/products/<%= row['id'] %>/edit">Edit</a>  
          <form style="margin: 0; padding: 0; display: inline-block;" action="/products/<%= row['id'] %>/destroy" method="post" onsubmit="return confirm('Are you sure? This will DESTROY \'<%= row['name'] %>\'. There is no undo!');">
            <input type="hidden" name="_method" value="delete">
            <button class="btn btn-danger btn-mini">Delete</button>
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>